*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--font-body);
    color: var(--clr-black);
    background-color: #fff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
}

input, textarea {
    font-family: inherit;
    outline: none;
}
